---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ComingSoonBanner from "../../components/ComingSoonBanner.astro";
import { siteConfig, getEdition } from "../../content/siteConfig";
import { getEditionYears } from "../../lib/editions";

import HeroSection from "../../components/sections/HeroSection.astro";
import AboutSeriesSection from "../../components/sections/AboutSeriesSection.astro";
import WhatToExpectSection from "../../components/sections/WhatToExpectSection.astro";
import ThemesSection from "../../components/sections/ThemesSection.astro";
import ImportantDatesSection from "../../components/sections/ImportantDatesSection.astro";
import ProgramGlanceSection from "../../components/sections/ProgramGlanceSection.astro";
import PartnersSection from "../../components/sections/PartnersSection.astro";
import SpeakersPreviewSection from "../../components/sections/SpeakersPreviewSection.astro";
import MailingListSection from "../../components/sections/MailingListSection.astro";

export async function getStaticPaths() {
  return getEditionYears().map((year) => ({ params: { year: String(year) } }));
}

const year = Number(Astro.params.year);
const edition = getEdition(year) ?? siteConfig.editions[0];
---
<BaseLayout
  year={year}
  title={`${siteConfig.seriesAcronym} ${edition.year}`}
  description={`${siteConfig.seriesAcronym} ${edition.year}: ${edition.themeTitle}. ${edition.date} at ${edition.room}, ${edition.address}, ${edition.city}, ${edition.state}.`}
>
  {edition.isComingSoon ? (
    <div class="mx-auto max-w-7xl px-4 pt-6 lg:px-6">
      <ComingSoonBanner year={edition.year} theme={edition.themeTitle} />
    </div>
  ) : null}

  <HeroSection edition={edition} />
  <AboutSeriesSection edition={edition} />
  <WhatToExpectSection edition={edition} />
  <ThemesSection edition={edition} />
  <ImportantDatesSection edition={edition} />
  <ProgramGlanceSection year={year} edition={edition} />
  <PartnersSection edition={edition} />
  <SpeakersPreviewSection year={year} edition={edition} />
  <MailingListSection />
</BaseLayout>
